<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Category</title>
</head>
<body>

<h2>Tambah Category</h2>

<form th:action="@{/categories/save}" th:object="${category}" method="post">
    <input type="hidden" th:field="*{id}">
    <label>Nama Category</label>
    <input type="text" th:field="*{name}">

    <br><br>

    <label>Deskripsi</label>
    <textarea th:field="*{description}"></textarea>

    <br><br>

    <button type="submit">Simpan</button>

</form>

</body>
</html>