<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category List</title>
</head>
<body>

<h2>Daftar Category</h2>

<a th:href="@{/categories/create}">Tambah Category</a>

<table border="1">

    <thead>
    <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>Deskripsi</th>
        <th>Aksi</th>
    </tr>
    </thead>

    <tbody>
    <td>
        <a th:href="@{/categories/edit/{id}(id=${category.id})}">
            Edit
        </a>

        |

        <a th:href="@{/categories/delete/{id}(id=${category.id})}">
            Delete
        </a>
    </td>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.description}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>