<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>

<h2>Ganti Password</h2>

<form method="post" action="/profile/change-password">

    <input type="password" name="oldPassword" placeholder="Password Lama" required />
    <br><br>

    <input type="password" name="newPassword" placeholder="Password Baru" required />
    <br><br>

    <input type="password" name="confirmPassword" placeholder="Konfirmasi Password" required />
    <br><br>

    <button type="submit">Update Password</button>

</form>

<br>

<div th:if="${error}">
    <p style="color:red;" th:text="${error}"></p>
</div>

<div th:if="${success}">
    <p style="color:green;" th:text="${success}"></p>
</div>

</body>
</html>